*{
    margin: 0;
    padding: 0;
  
}
body{
    background-color: rgb(250, 245, 245);
}

 li{
    display: flex;
    display: inline;
   justify-content: center;
    align-items: center; 
}

 nav li a{
   float: right;
  display: block;
  color: #0c0e0e;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  width: 8rem;
    transition: 1s;
    
    
}
a:hover{
    background-color: rgb(38, 100, 100);
}
.table{
    border-radius: 20px;
    overflow: hidden;
}
img{
    padding: 5%;
   height: 85vh;
   width: 50vw;
   margin: 5%;  
   border-radius: 20px;
}

.clyde{
    display: flex;
    justify-content: center;
    align-items: center;  
}
span{
    color: rgb(111, 221, 184);
}
#table2{
    height: 85vh;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10%;
   flex-direction: column;
   background-color: transparent;
   transition: 5s;
   gap: 3rem;
  
}
h1{
    margin-top: 5%;
}
.y{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.d{
    color: red;
}


